Repository kentt8046/result_x: changes, and which Codecov flags are due for each by the changed paths.
All: dars, dars_test

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      dars:
        flags:
          - dars
        paths:
          - packages/dars/lib/**
      dars_test:
        flags:
          - dars_test
        paths:
          - packages/dars_test/lib/**

flags:
  dars:
    paths:
      - packages/dars/lib/**
    carryforward: true
  dars_test:
    paths:
      - packages/dars_test/lib/**
    carryforward: true

comment:
  layout: " diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

feat: Update package versions and documentation links
  README.md
  docs/design_doc/dars.md
  docs/design_doc/dars_test.md
  packages/dars/README.md
  packages/dars/doc/README_ja.md
  packages/dars/pubspec.yaml
  packages/dars_test/README.md
  packages/dars_test/doc/README_ja.md
  packages/dars_test/pubspec.yaml
Due: none

docs: Update README links and add testing support info
  README.md
  packages/dars/README.md
  packages/dars/doc/README_ja.md
  packages/dars_test/README.md
  packages/dars_test/doc/README_ja.md
Due: none

feat: Preparation for v0.2.0 (New dars_test package and Result API improvements) (#3)
  .agent/artifacts/release_check_list.md
  .agent/workflows/release-check.md
  .github/workflows/dars_ci.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  codecov.yml
  docs/design_doc/dars.md
  docs/design_doc/dars_test.md
  packages/dars/CHANGELOG.md
  packages/dars/README.md
  packages/dars/doc/README_ja.md
  packages/dars/example/example.dart
  packages/dars/lib/src/result.dart
  packages/dars/pubspec.yaml
  packages/dars/test/early_return_test.dart
  packages/dars/test/result_test.dart
  packages/dars_test/.pubignore
  packages/dars_test/CHANGELOG.md
  packages/dars_test/LICENSE
  packages/dars_test/README.md
  packages/dars_test/analysis_options.yaml
  packages/dars_test/doc/README_ja.md
  packages/dars_test/example/example.dart
  packages/dars_test/lib/dars_test.dart
  packages/dars_test/lib/src/result_matchers.dart
  packages/dars_test/pubspec.yaml
  packages/dars_test/test/result_matchers_test.dart
  project-words.txt
  pubspec.yaml
  tool/dars_tool.dart
Due: dars, dars_test

docs: Update examples for direct early returns and async chaining
  README.md
  packages/dars/README.md
  packages/dars/doc/README_ja.md
  packages/dars/example/example.dart
Due: none

refactor: Update dars_test import path
  docs/design_doc/dars_test.md
  packages/dars_test/README.md
  packages/dars_test/doc/README_ja.md
Due: none

docs: Add milestones and update design docs
  docs/design_doc/dars.md
  docs/design_doc/dars_test.md
  docs/milestones.md
Due: none

feat: Add Mockito Result utilities and update dars docs
  CHANGELOG.md
  packages/dars/CHANGELOG.md
  packages/dars_test/CHANGELOG.md
Due: none

feat: Add Mockito integration for Result stubbing
  packages/dars_test/README.md
  packages/dars_test/doc/README_ja.md
Due: none

feat: Migrate example to generated Mockito mocks
  .gitignore
  analysis_options.yaml
  packages/dars_test/example/mockito_example.dart
  packages/dars_test/example/mockito_example.mocks.dart
  packages/dars_test/lib/src/mockito_helpers.dart
Due: dars_test

feat: Extend MissingDummyValueError to Future<Result> methods
  packages/dars_test/test/mockito_helpers_test.dart
Due: none
